@use '../../styles/global/variables' as v;

.mainContent {
    width: 100%;
    height: max-content;
    padding: 0rem clamp(1rem, 0.5rem + 3vw, 5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.5rem;
    align-items: center;

    &--container {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: flex-start;
    }

    &--car,
    &--text,
    &--input {
        box-shadow: 0px 0px 0.0625rem 0px var(--border-color);
        border: 0.125rem solid var(--border-color);
        border-radius: 0.625rem;
        width: 100%;
    }

    &--car {
        height: 10rem;

        &--preview {
            height: 100%;
            padding: 1.3rem 1.5rem;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 1fr;
            justify-content: flex-start;
            align-items: flex-end;

            & svg {
                font-size: 2.5rem;
            }
        }

        & .car--preview {
            &--user,
            &--bot {
                border-bottom: 0.1875rem dashed var(--border-color);
                position: relative;
                height: 3rem;
                border-right: 3px solid var(--border-color);

                &::after {
                    position: absolute;
                    bottom: 1.625rem;
                    right: -0.1875rem;
                    content: "Finish";
                    font-size: 0.65rem;
                    padding: 0.1rem 0.35rem;
                    border-top-left-radius: 0.125rem;
                    border-bottom-left-radius: 0.125rem;
                    background-color: var(--border-color);
                }
            }

            &--user {
                & svg {
                    transform: translateY(0.625rem);
                }
            }

            &--bot {
                & svg {
                    transform: translateY(0.75rem);
                }
            }
        }
    }

    &--text {
        & .text-container {
            padding: 1.3rem 1.5rem;
            & .text {
                line-height: 1.75;
            }
        }
    }

    &--input {
        input {
            width: 100%;
        }
    }
}
